<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <img style="width: 70%; margin-bottom: 6px;" src="././assets/video-player.png" />
    </button>
    <span><span style="color: rgb(229, 81, 81);">Book</span>&nbsp;<span style="color: rgb(157, 157, 157);">My</span>&nbsp;<span style="color: rgba(251, 255, 10, 0.73);">Movie</span></span>
    <span class="example-spacer"></span>
    
    

    <button mat-flat-button color="primary" class="myButton" *ngIf="isLoggedIn" (click)="getAllMovies()">Get All Movies</button>
    <button mat-flat-button color="primary" class="myButton" *ngIf="isLoggedIn && isAdmin" (click)="addMovieDialog()">Add Movies</button>
    <a href="/login"><button mat-flat-button color="primary" class="myButton" *ngIf="!isLoggedIn">Login</button></a>
    <button mat-flat-button color="primary" class="myButton" *ngIf="!isLoggedIn" (click)="openResetPasswordComponent()">Reset Password</button>

    
    <button mat-icon-button class="example-icon favorite-icon logOut" aria-label="Example icon-button with heart icon" (click)="logOut()">
      <mat-icon>power_settings_new</mat-icon>
    </button>

</mat-toolbar>
