<div class="searchBar">
  <form #searchForm="ngForm">
    <!-- <mat-form-field style="margin-left: auto; margin-right: auto;">
        <mat-label>Search</mat-label>
        <input type="text" name="search" matInput ngModel style="background-color: white;">
    </mat-form-field> -->
    <input type="text" class="inputStyling" name="search" placeholder="Search Movies" matInput ngModel>
    <!-- <button mat-raised-button color="primary" (click)="searchMovie(searchForm)">Search</button> -->
    <button class="btn btn-secondary bg-transparent buttonStyling" (click)="clearSearch()" style="margin-left: 5px;"><mat-icon>search</mat-icon></button>
  </form>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="movieName">
      <th mat-header-cell *matHeaderCellDef> Movie Name </th>
      <td mat-cell *matCellDef="let element"> {{element.movieName}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="theatreName">
      <th mat-header-cell *matHeaderCellDef> Theater Name </th>
      <td mat-cell *matCellDef="let element"> {{element.theatreName}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="ticketsAvailable">
      <th mat-header-cell *matHeaderCellDef> Tickets Available </th>
      <td mat-cell *matCellDef="let element"> {{element.ticketsAvailable}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-mini-fab color="primary" (click)="deleteMovie(element.id)" aria-label="Example icon button with a delete icon" *ngIf="isAdmin">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="openUpdateMovie(element.id,element.movieName,element.theatreName,element.ticketsAvailable)" aria-label="Example icon button with a delete icon" class="buttonSpacing" *ngIf="isAdmin">
          <mat-icon>build</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="openBookMovie(element.id,element.movieName,element.theatreName,element.ticketsAvailable)"  aria-label="Example icon button with a delete icon" class="buttonSpacing" *ngIf="!isAdmin">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
