<mat-card class="resetCard">
    <mat-card-content class="resetContent">
        <h2 style="font-family: Arial, Helvetica, sans-serif; font-size: large; font-weight: bold;">Reset Password</h2>
        <!-- <form #loginForm="ngForm" (ngSubmit)="login(loginForm)"> -->
            <form #resetForm="ngForm">
            <mat-form-field>
                <mat-label>username</mat-label>
                <input type="text" name="username" matInput ngModel >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Unique User Id</mat-label>
                <input type="number" name="userId" matInput ngModel >
            </mat-form-field>
            <mat-form-field>
                <mat-label>password</mat-label>
                <input type="password" name="password" matInput ngModel>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input type="password" name="confirmPassword" matInput ngModel>
            </mat-form-field>
            <p>
                <button type="submit" mat-raised-button color="primary" (click)="resetPassword(resetForm)">Reset</button>
            </p>
            
        </form>
    </mat-card-content>
</mat-card>
